@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card account-card shadow bg-warm_light rounded p-3 border-0">
    <h5 class="account-card-title text-warm">Thibitisha barua pepe yako</h5>
    <h6 class="fw-normal text-warm">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </h6>
</div>
